<div align="center" class="blog">
	<h1>Start Micro Blogging Today!</h1>
</div>

<form action="/create_account" id="create" method="POST"> 
	<div class="form">
		<label for="fname">First Name</label>
		<br>
		<input type="text" name="fname" placeholder="">
		<br>
		<label for="lname">Last Name</label>
		<br>
		<input type="text" name="lname" placeholder="">
		<br>
		<label for="email">Email</label>
		<br>
		<input type="text" name="email" placeholder="">
		<br>
		<label for="password">Password</label>
		<br>
		<input type="password" name="password" placeholder="">
		<br>
		<input class="button" id="createbutton" type="submit" value="Create Account">
		<%= flash[:alert] if flash[:alert] %>
	</div>
</form>
