<div align="center" class="editAccount">
	<h1>Need to edit your account information?</h1>
</div>
<div id="edit_account"> 
	<div id="editforms">
		<form action="/edit_info" method="POST">
			<label for="fname">First Name</label>
			<input type="text" name="fname" value=<%= @user.fname %>>
			<br>
			<label for="lname">Last Name</label>
			<input type="text" name="lname" value=<%= @user.lname %>>
			<br>
			<label for="email">Email</label>
			<input type="text" name="email" value=<%= @user.email %>>
			<br>
			<label for="password">Password</label>
			<br>
			<input type="password" name="password" value="">
			<input class="button" type="submit" value="Submit Changes">
		</form>
	</div>
</div>
