<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="icon" type="img/png" href="img/bird2.png">
		<script type="text/javascript">
			$(document).ready(function() {
			    
			    function birdLeft() {
			        $("#b").animate({left: "-=800"}, 2000, "swing", birdRight);
			    }
			    function birdRight() {
			        $("#b").animate({left: "+=800"}, 2000, "swing", birdLeft);
			    }
			    
			    birdRight();
			});
		</script>
		<script type="text/javascript" src="js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.css">
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
	</head>
	<body>
	<header id="head">
		<h2 id="name"><mark>squawker</mark></h2>
		<h1 id="welcome">Squawk Your Mind!</h1>
		<div class="logo">
			<img src="images/bird2.png">
		</div>		
		<div class="headbuttons">
		</div>
		<div class="headbuttons">		
		<div class="headbuttons">
			<% if current_user %>
				<form action="/sign_out" method="POST">
					<input class="button" type="submit" value="Sign Out">
				</form>
				<a href="myAccount"><input class="button" type="button" value="Settings"></a>
				<a href="profile"><input class="button" type="button" value="Profile Page"></a>
			<% else %>
				<a href="sign_in"><input class="button" type="button" value="Sign In"></a>
				<a href="create_account"><input class="button" type="button" value="Create Account"></a>
			<% end %>
		</div>
	</header>
    <img id="b" src="images/bird3.png" style="position:absolute; top:450px"></img>
	</body>
			<%= yield %>
	</body>
</html>
