<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script type="text/javascript" src="js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.css">
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
	</head>
	<body>
	<header id="head">
		<h1 id="welcome">Speak Your Mind!</h1>
		<div class="headbuttons">
			<form action="/sign_out" method="POST">
				<a href="sign_in"><input class="button" type="button" value="Sign Out"></a>
			</form>
		</div>
		<div class="headbuttons">		
			<a href="sign_in"><input class="button" type="button" value="Sign In"></a>	
			<a href="settings"><input class="button" type="button" value="Settings"></a>
			<a href="create_account"><input class="button" type="button" value="Create Account"></a>
		</div>
		
	</header>
			<%= yield %>
	</body>
</html>
