<div id="accountBox">
	<div id="accountForm">
		<form action="/form" method="POST">
			<div>
				<h1><%= @user.fname + " " + @user.lname%></h1>
			</div>
			<div>
				<h1><%= @user.email %></h1>
			</div>
			<div id="myAccountButtons">
				<input class="button" type="button" value="Edit Account">
			</div>
			<div>
				<input class="button" type="button" value="Delete Account">
			</div>
		</form>
	</div>
</div>
