<div align="center" class="myAccount">
	<h1>MyAccount</h1>
</div>
<div id="accountBox">
	<div id="accountForm">
			<div>
				<h1><%= @user.fname + " " + @user.lname%></h1>
			</div>
			<div>
				<h1><%= @user.email %></h1>
			</div>
				<form action="/edit_acct" method="POST">
					<div id="postbuttons1"> 
						<a href="edit_acct"><input class="button" type="submit" value="Edit Account"></a>
					</div>
				</form>
				
				<form action="/delete_accont" method="POST">
				<div id="postbuttons2"> 
					<button class="button" id="submit" type="button">Delete Account</button>
					<input id="hiddenbutton" type="submit" value="Delete Account">
				</div>			
			</form>
	</div>
</div>

<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div id="modal" class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
     Delete Account!
     <input id="delete" type="button" value="Delete Account">
     Keep Account!
     <button id="cancel" type="button">Go Back</button>
    </div>
  </div>
</div>
