<div id="accountBox">
	<div id="accountForm">
		<form action="/form" method="POST">
			<div>
				<label id="name" for="name">Name:</label>
				<input type="text" id= "input1" placeholder="Name" name="username">
			</div>
			<div>
				<label id="email" for="email">Email:</label>
				<input type="text" id= "input2" placeholder="Email" name="email">
			</div>
			<div>
				<button id="signOutButton" type="submit" value="Sign Out">
			</div>
			<div>
				<button id="editAccountButton" type="submit" value="Edit Account">
			</div>
			<div>
				<button id="profileButton" type="submit" value="Profile Page">
			</div>
			<div>
				<button id="deleteAccountButton" type="submit" value="Delete Account">
			</div>
		</form>
	</div>
</div>