<div align="center" class="myAccount">
	<h1>MyAccount</h1>
</div>
<div id="accountBox">
	<div id="accountForm">
			<div>
				<h1><%= @user.fname + " " + @user.lname%></h1>
			</div>
			<div>
				<h1><%= @user.email %></h1>
			</div>
			<div id="myAccountButtons">
				<input class="button" id="button1" type="button" value="Edit Account">
			</div>
			<div>
				<input class="button" id="button2" type="button" value="Delete Account">
			</div>
		</form>
				<form action="/edit_account" method="POST">
					<div id="postbuttons"> 
						<input class="button" type="submit" value="Edit Account">
					</div>
				</form>
				
				<form action="/delete_accont" method="POST">
				<div id="postbuttons"> 
					<input class="button" type="submit" value="Delete Account">
				</div>			
			</form>
	</div>
</div>
