<div align="center" class="myAccount">
	<h1>MyAccount</h1>
</div>
<div id="accountBox">
	<div id="accountForm">
			<div>
				<h1><%= @user.fname + " " + @user.lname%></h1>
			</div>
			<div>
				<h1><%= @user.email %></h1>
			</div>
				<form action="/edit_acct" method="POST">
					<div id="postbuttons"> 
						<a href="edit_acct"><input class="button" type="submit" value="Edit Account"></a>
					</div>
				</form>
				
				<form action="/delete_accont" method="POST">
				<div id="postbuttons"> 
					<input class="button" type="submit" value="Delete Account">
				</div>			
			</form>
	</div>
</div>
