<div align="center" class="newPosts">
	<h1>Posts</h1>
</div>
<div id="postBox">            
	<div id="new_posts_box">
		<form action="/new_post" method="POST">
			<div>
				<textarea id="commentbox" type="text" placeholder="Post" name="message"></textarea>
			</div>
			<div id="postbuttons">
				<input id="submitpost" class="button" type="submit" value="Submit Post">
				<h1>Max Characters</h1><h1 id="count">150</h1>		
		</form>
	</div>
</div>
<div id="allPosts">
	<% @posts.each do |post| %>
		<h3><%= post.message %></h3>
		<p><%= post.timecreated %></p>
	<% end %>
</div>
