<div align="center" class="profile_page">
	<h1>Profile</h1>
</div>
<div id="profileBox">
	<div id="profileForm"> 
		<form action="/profile" method="POST">
			<div>
				<label id="fname" for="fname">firstname</label>
			</div>
			<div>
				<label id="lname" for="lname">lastname</label>
			</div>
			<div id="profile_posts_box"></div>
			<div id="profilebuttons">
				<input class="button" type="submit" value="New Post">
				<input class="button" type="submit" value="Settings">
			</div>
		</form>
	</div>
</div>
