<div align="center" class="profile_page">
	<h1>Profile</h1>
</div>
<div id="profileBox">
	<div id="profileForm"> 
		<form action="/profile" method="POST">
			<div>
				<h1><%= @user.fname %></h1>
			</div>
			<div>
				<h1><%= @user.lname %></h1>
			</div>
			<div id="profile_posts_box">
			</div>
			<div id="profilebuttons">
				<a href="new_post"><input class="button" type="button" value="New Post"></a>
				<a href="myAccount"><input class="button" type="button" value="Settings"></a>
			</div>
		</form>
	</div>
</div>
