<div align="center" class="accountInfo">
	<h1>MyAccount</h1>
</div>
<div id="accountBox">
	<div id="accountForm">
		<form action="/form" method="POST">
			<div>
				<label id="fname" for="fname">firstname</label>
			</div>
			<div>
				<label id="lname" for="lname">lastname</label>
			</div>
			<div>
				<label id="email" for="email">Email</label>
			</div>
			<div id="settingbuttons">
				<input class="button" type="submit" value="Sign Out">
				<input class="button" type="submit" value="Edit Account">
				<input class="button" type="submit" value="Profile Page">
				<input class="button" type="submit" value="Delete Account">
			</div>
		</form>
	</div>
</div>